* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
  font-family: "Noto Serif", serif;
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#h1main {
  background-image: url("images/mainbg.webp");
  background-position: center;
  color: white;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbarList {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 0.3rem;
}

.navbarLink:link,
.navbarLink:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s linear;
  padding: 0.7rem;
  color: #191919;
}

.navbarLink:hover,
.navbarLink:active {
  color: rgb(190, 151, 100);
}

#home {
  color: rgb(190, 151, 100);
}

.mainQuote {
  text-align: center;
  padding-top: 10rem;
  font-size: 4rem;
  margin-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  font-family: "Cormorant Garamond", serif;
  font-family: "Noto Serif", serif;
  font-family: "Sacramento", cursive;
  font-weight: 500;
}

.figCaption {
  text-align: center;
  padding-top: 1rem;
  font-size: 2rem;
  font-style: italic;
  padding-bottom: 10rem;
}

.footer {
  width: 100vw;
  padding-top: 0.5rem;
  height: 3rem;
  background-color: whitesmoke;
  color: grey;
  text-align: center;
  margin-top: auto;
  left: 0;
  bottom: 0;
  width: 100%;

  font-size: 0.8rem;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 1.25rem;
  right: 1.875rem;
  z-index: 99;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: navy;
  color: whitesmoke;
  cursor: pointer;
  padding: 1rem;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: whitesmoke;
  color: navy;
}

.card-text {
  font-size: 0.9rem;
}
